__pycache__/
cython_debug/
.pytype/
.pyre/
dmypy.json
dmypy.json
.mypy_cache/
site
.ropeproject
.spyderworkspace
.spyderproject
venv
.venv
env
.env
*.venv
*.env
*.sage.py
celerybeat.pid
celerybeat-schedule
__pypackages__/
Pipfile.lock
pipenv
.python-version
ipython_config.py
profile_default/
.ipynb_checkpoints
target/
docs/_build/
scrapy
.webassets-cache
instance/
db.sqlite3-journal
db.sqlite3
local_settings.py
*.log
*.pot
*.mo
.hypothesis/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
nox/
.tox/
htmlcov/
pip-delete-this-directory.txt
pip-log.txt
*.spec
*.manifest
*.egg-info/
.installed.cfg
share/python-wheels/
wheels/
var/sdist/
parts/
lib64/
lib/
.eggs/
eggs/
downloads/
dist/
develop-eggs/
build/
.Python
*.so
*$py.class
*.py[cod]